meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title La comprensión lectora
meta(meta name="description" content="La lectura es de vital importancia en todos los aspectos de la vida, tanto personal como profesional y laboral. Leer comprendiendo el mensaje del autor contribuye a la formación cultural, necesaria en el mundo globalizado de la actualidad; la lectura favorece el desarrollo del pensamiento y la adquisición de las destrezas del uso de la lengua. El desarrollo de este contenido se ha pensado a partir de dos aspectos: la lectura, que aborda el concepto, la comprensión lectora y algunas estrategias para desarrollarla. El segundo aspecto tiene que ver con los factores de la comprensión lectora: el lector, el texto, el contexto; los tres son determinantes en el proceso lector. Las estrategias de lectura competen al lector fundamentalmente; es él quien tiene que llevarlas a la práctica para llegar al significado de los textos. Como ya se sabe, quienes tienen el hábito de leer, hablan y escriben bien.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")