h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark.mb-0
            li 
                span 240201524-02. Interpretar textos de nivel de complejidad media a partir de las normas y técnicas de lectura.