.container#introduccion
    
    .jumbotron.bg-white.shadow.mt-6
        .row.justify-content-center
            .col-10
                .header-ecored.mt-0
                    h1 Introducción
                .row.justify-content-center.my-5
                    .col-10
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/E9Fi9mE-Pas', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img1.png", style="max-width: 80%; margin-left: 8%; margin-bottom: -2%; z-index: 2; position: relative;").img-fluid
                    .col-12.bg-color1
                        p.mb-0 El desarrollo de este componente formativo tiene como propósito que reconozca algunos aspectos que hacen parte de la comprensión lectora. Se tocan dos ideas generales: la lectura y los factores de la comprensión lectora. En la primera parte, la lectura, se hace una aproximación a su concepto; se aborda la lectura comprensiva y se entregan algunas estrategias para facilitar la comprensión lectora. Sobre la lectura y la comprensión lectora se ha escrito mucho, el aprendiz puede consultar por curiosidad o interés, como parte de un ejercicio de interpretación y comprensión.
                        .row.mt-5
                            .col-12.text-right
                                img(src="assets/images/pages/ilustraciones/img2.png", style="max-width: 100%;").img-fluid
                .row.mt-5
                    .col-12
                        p.txt-deco1 En la segunda parte, relacionada con los factores de la comprensión lectora, se abordan los conceptos de lector/lectora, definidos como el individuo que lee o que en el mejor de los casos tiene afición por la lectura; el texto, visto como el conjunto de enunciados que componen un documento escrito; el contexto, los elementos lingüísticos que están antes o siguen a un término u oración que determina su significado y la interpretación correcta.
                        p.txt-deco1 La metodología de aprendizaje está centrada en la construcción de autonomía para garantizar la calidad de los procesos formativos. El auge de las nuevas tecnologías y sus múltiples fortalezas requiere sujetos autónomos con capacidad para abordar reflexiva y críticamente su proceso de aprendizaje en un entorno virtual determinado o en otros casos, en el aula común que todos conocen. Leer y comprender un documento cualquiera requiere práctica. Esta es una invitación a usar las estrategias que se presentarán para convertirse en un buen lector(a).