.container#lectura

    .jumbotron.bg-white.shadow.mt-6
        .row.justify-content-center
            .col-10
                .header-ecored.mt-0
                    h1 1. La lectura
                .row.mb-7
                    .col-12.bg-color2.mb-4
                        p.txt-deco1 #[b Leer (verbo)], es un acto comunicativo que señala la interacción entre un texto y un lector, quien construye el significado del texto. #[b La lectura (sustantivo)], es la actividad de interpretar o descifrar un conjunto de signos escritos (las grafías), bien sea de forma oral o mental.
                        .hr
                        img(src="assets/images/pages/ilustraciones/img3.png", style="max-width: 24%; position: absolute; bottom: -100px; right: 53px;").img-fluid
                .hr2
                #11
                .header-ecored.mt-6
                    h2 1.1. Concepto de lectura
                .row.bg-color3
                    .col-6.p-4
                        p.txt-deco2 #[b La lectura es un hábito extraordinario que todos los individuos en general deben desarrollar. Leer transporta a otros mundos, se abren horizontes diversos, se conocen nuevos acontecimientos o nuevas situaciones.]
                        p.txt-deco1 Un libro, un periódico o un texto online son capaces de transportar la imaginación a lugares desconocidos, distantes de la Tierra o del universo; los textos de lectura permiten conocer lo que piensan otras personas, lo que sucede en cualquier punto del planeta, informarse sobre los avances de la ciencia, del arte, de la cultura, de los hechos recientes, de la realidad. En la actualidad, gracias al desarrollo tecnológico al que se ha llegado en un mundo interconectado, se conoce inmediatamente lo que sucede en cualquier lugar del planeta.
                        .hr
                    .col-6.text-center
                        img(src="assets/images/pages/ilustraciones/img4.png", style="max-width: 60%; position: absolute; bottom: 0px; left: 100px;").img-fluid
                p.mt-5.txt-deco1 #[b Leer es más que dejar que los ojos recorran un escrito. Es un hábito que se adquiere y se forma como cualquier otro, pero requiere práctica. La lectura es el medio más efectivo para el aprendizaje, favorece el entretenimiento y es gratificante cuando el lector se hace consciente de todo lo que puede lograr a través de ella.]
                p.mt-5.txt-deco3 #[b En la lectura se necesitan dos elementos:]
                p.txt-deco1 Un texto y un lector(a); el primero, el texto es el material que tiene los caracteres o signos gráficos de un sistema lingüístico determinado; el lector es el sujeto activo que los descifra, los interpreta, los comprende. Es un proceso de comunicación entre un escritor (el texto) y un lector (el sujeto que lee), a través del cual el escritor transmite un mensaje al lector por medio de la escritura de la lengua.
                .row.mt-6.justify-content-center
                    .col-12.col-md-8.bg-color4
                        img(src="assets/images/pages/ilustraciones/img5.png", style="max-width: 10%; position: absolute; top: -25px; left: 70px;").img-fluid
                        p.txt-deco1.pt-5 #[b Leer es un proceso de construcción de significados a partir de la interacción entre el texto, el contexto y el lector.]
                        p.txt-deco1 #[b #[i (MEN, 1998, p. 72).]]
                        img(src="assets/images/pages/ilustraciones/img6.png", style="max-width: 17%; position: absolute; right: 65px; bottom: -68px;").img-fluid
                p.mt-7.txt-deco1 Es un proceso complejo conformado por una etapa sensorial en la que intervienen los ojos y una etapa cerebral en la que se construye el significado de los símbolos impresos; en realidad cuando el lector lee un texto no solo percibe los signos, las oraciones, las frases sino que debe tratar de comprender el significado de lo escrito, es decir, captar lo que el autor ha querido manifestar. #[b Es preciso recordar que la comprensión es lo primero y lo más importante cuando se lee]. 
                p.txt-deco1 La lectura le permite al ser humano enriquecer la manera de ver o de entender el mundo, cambiar o fortalecer los conceptos que ha aprendido a lo largo de su vida y es fundamental para el desarrollo cultural y académico de todas las personas, en cualquier lugar en donde se encuentren. Para los aprendices, la lectura constituye una necesidad, pues a través de ella alcanzan la formación en el campo del saber escogido.
                .hr2
                #12
                .header-ecored.mt-6
                    h2 1.2  Tipos de lectura
                .row.justify-content-center.my-5
                    .col-10
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/cfme4rgalDI', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .row.align-items-center.mt-5
                    .col-12.bg-color4
                        #carouselExampleIndicators2.carousel.slide(data-ride='carousel')
                            ol.carousel-indicators
                                li.active(data-target='#carouselExampleIndicators2', data-slide-to='0')
                                li(data-target='#carouselExampleIndicators2', data-slide-to='1')
                                li(data-target='#carouselExampleIndicators2', data-slide-to='2')
                                li(data-target='#carouselExampleIndicators2', data-slide-to='3')
                                li(data-target='#carouselExampleIndicators2', data-slide-to='4')
                                li(data-target='#carouselExampleIndicators2', data-slide-to='5')
                            .carousel-inner
                                .carousel-item.active
                                    .row.justify-content-center.align-items-center
                                        .col-5
                                            p.txt-deco2 #[b Lectura silenciosa]
                                            p.txt-deco1 La lectura puede hacerse de manera silenciosa, sin mover los labios y sin articular los sonidos en la garganta; si esto sucede es porque falta destreza en esta forma de leer.
                                        .col-5.text-center
                                            img(src="assets/images/pages/ilustraciones/img7.png", style="max-width: 100%", alt="0").img-fluid
                                .carousel-item
                                    .row.justify-content-center.align-items-center
                                        .col-5
                                            p.txt-deco2 #[b Lectura oral]
                                            p.txt-deco1 La lectura puede hacerse en voz alta, también llamada lectura oral. Para leer en voz alta se necesita la entonación adecuada, hacer los ascensos y descensos de voz que indica la puntuación; mantener el libro a una distancia prudente y mirar a los oyentes de vez en cuando.
                                        .col-5.text-center
                                            img(src="assets/images/pages/ilustraciones/img8.png", style="max-width: 100%", alt="1").img-fluid
                                .carousel-item
                                    .row.justify-content-center.align-items-center
                                        .col-5
                                            p.txt-deco2 #[b Lectura recreativa]
                                            p.txt-deco1 La lectura recreativa distrae la mente, es necesaria para todos aquellos que son curiosos o curiosas, para quienes les gusta buscar conocimientos nuevos y enterarse o informarse sobre temas desconocidos.
                                        .col-5.text-center
                                            img(src="assets/images/pages/ilustraciones/img9.png", style="max-width: 100%", alt="2").img-fluid
                                .carousel-item
                                    .row.justify-content-center.align-items-center
                                        .col-5
                                            p.txt-deco2 #[b Lectura de consulta]
                                            p.txt-deco1 La lectura de consulta es la que se hace cuando se tiene interés en un tema nuevo o desconocido.
                                        .col-5.text-center
                                            img(src="assets/images/pages/ilustraciones/img10.png", style="max-width: 100%", alt="3").img-fluid
                                .carousel-item
                                    .row.justify-content-center.align-items-center
                                        .col-5
                                            p.txt-deco2 #[b Lectura didáctica]
                                            p.txt-deco1 La lectura didáctica es aquella que se hace en los libros didácticos o en los documentos que complementan la formación en un saber concreto; los conocimientos que allí se encuentran provienen de los hallazgos o descubrimientos de la ciencia, siguen un método ordenado y riguroso; su estilo es claro y preciso, el lenguaje usado es objetivo y con un vocabulario seleccionado.
                                        .col-5.text-center
                                            img(src="assets/images/pages/ilustraciones/img11.png", style="max-width: 100%", alt="4").img-fluid
                                .carousel-item
                                    .row.justify-content-center.align-items-center
                                        .col-5
                                            p.txt-deco2 #[b Lectura de estudio]
                                            p.txt-deco1 Esta forma de leer debe realizarse de manera atenta y cuidadosa; requiere tomar notas.
                                        .col-5.text-center
                                            img(src="assets/images/pages/ilustraciones/img12.png", style="max-width: 100%", alt="5").img-fluid
                            a.carousel-control-prev(href='#carouselExampleIndicators2', role='button', data-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.sr-only Previous
                            a.carousel-control-next(href='#carouselExampleIndicators2', role='button', data-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.sr-only Next
                p.mt-4.txt-deco1 #[b Los propósitos de la lectura son múltiples y estos tienen que ver con todo aquello que busca el lector(a) cuando se enfrenta a un texto]; el propósito equivale al para qué de la lectura, a los objetivos que cada persona tiene al leer; se lee con un fin que puede ser informarse, estudiar, consultar o divertirse, pero cualquiera que sea el objetivo se requiere la comprensión de lo leído.
                .hr2
                #13
                .header-ecored.mt-6
                    h2 1.3 La lectura comprensiva
                .row.mt-6.justify-content-center
                    .col-12.col-md-8.bg-color4
                        img(src="assets/images/pages/ilustraciones/img5.png", style="max-width: 10%; position: absolute; top: -25px; left: 70px;").img-fluid
                        p.txt-deco1.pt-5 #[b La comprensión de textos tiene como antesala el acto de leer; en este sentido leer es un proceso intelectual y cognitivo que nos permite obtener información a partir de un texto.]
                        p.txt-deco1 #[b #[i (Gómez, 2011, p. 28).]]
                        img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 35%; position: absolute; right: 10%; bottom: 0%;").img-fluid
                p.mt-6.txt-deco3 #[b La comprensión lectora es entender lo que se lee, para ello se requieren dos condiciones básicas:]
                .row.mt-7.justify-content-around
                    .col-12.col-lg-5.bg-color5
                        img(src="assets/images/pages/ilustraciones/img14.png", style="max-width: 30%; position: absolute; top: -35%; left: 33%;").img-fluid
                        p.txt-deco1.mb-0.mt-6.mt-lg-5 #[b La primera], estar en un ambiente apropiado, con buena luz, silencio y comodidad o lo que el lector prefiera.
                    .col-12.col-lg-5.mt-7.mt-lg-0.bg-color6
                        img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 30%; position: absolute; top: -35%; left: 33%;").img-fluid
                        p.txt-deco1.mb-0.mt-6.mt-lg-5 #[b La segunda], un estado anímico favorable, equivalente a estar tranquilo y una actitud positiva hacia la lectura.
                p.mt-5.txt-deco1 La comprensión es un proceso interactivo, participativo, recíproco. La importancia del proceso lector es la comprensión lectora, no la velocidad con la cual se lee, aunque hay ocasiones en que se requiere cierta velocidad en la lectura.
                .row.mt-5.align-items-center
                    .col-6.bg-color7
                        p #[span.txt-deco5 Comprender un texto significa d]ar cuenta de este #[span.txt-deco4 (¿qué quiso decir?), encontrar el tema (¿de qué trata?)], identificar las ideas principales e ideas secundarias y reconocer las relaciones que se establecen entre ellas.
                        .hr
                    .col-6
                        p.txt-deco1 Este primer momento, el de la comprensión, es decir, el de la construcción del significado, permite abordar los textos de manera más profunda, captarlos; además identificar las ideas generales y secundarias, y tener en cuenta los detalles que enriquecen cada texto. #[b Otro momento de la lectura consiste en la participación creativa del lector(a) que depende de la comprensión y, que se manifiesta en todo lo que se puede hacer con los textos de lectura]; no es posible crear si no se parte de algo, no se crea en el vacío.
                p.mt-5.txt-deco1 #[b En la lectura la creación consiste en aportar algo nuevo al texto leído], enriquecerlo, hacer algo con él; una forma de creación consiste en que a partir de las ideas del texto se produzcan nuevas formas de relacionarlas; se trata de los aportes que el lector le hace al texto.
                .row.mt-6.justify-content-center
                    .col-10
                        .row
                            .col-12.bg-color8
                                .row
                                    .col-2
                                        img(src="assets/images/pages/ilustraciones/img16.png", style="max-width: 80px; position: absolute; left: 5px; top: -25px; z-index: 2;").img-fluid
                                    .col-10
                                        p.mb-0 Ejercicio
                            .col-12.p-5.bg-color9
                                p.txt-deco1 A continuación, se encuentra un texto breve para afianzar las estrategias de lectura estudiadas. Se sugieren posteriormente varias actividades para desarrollarlas en el orden propuesto.
                            .col-12.p-5.bg-color10
                                p.text-white “ Hijo de un telegrafista y de una madre que había heredado las glorias militares del coronel Márquez Iguarán en la Guerra de los Mil Días (finales del Siglo XIX), Gabriel García Márquez nació en Aracataca, un pueblo ardiente de la costa norte de Colombia, el 6 de marzo de 1928. Esa fecha, que en forma desprevenida podría reseñarse como un dato gratuito en la biografía del escritor, encierra, sin embargo; un capítulo cruel en la historia colombiana: el 5 de diciembre de 1928, en la población costera de Ciénaga (Magdalena), el ejército disparó contra una multitud de 3.000 hombres, mujeres y niños concentrados en la plaza de ese municipio. El acontecimiento quedó registrado en la memoria histórica como ‘La matanza de las bananeras’. Ella selló en forma sangrienta el inicio de las luchas por conquistas laborales en Colombia ”
                                p.text-white.mb-0 (García,1991).
                                .hr3
                                .row.bg-color11.p-4
                                    .col-12
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.text-white Consultar sobre la Guerra de los Mil Días (fecha, lugar, causas de la guerra, consecuencias, época).
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.text-white Por curiosidad, localizar Aracataca y Ciénaga (Magdalena) en un mapa de Colombia; consultar algunos asuntos sobre estos dos municipios.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.text-white Consultar sobre “la matanza de las bananeras” y responder las preguntas:
                                        .list.align-items-star.ml-4
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list3.svg").img-fluid  
                                            .list__txt
                                                p.text-white ¿Por qué se llama “la matanza de las bananeras”?
                                        .list.align-items-star.ml-4
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list3.svg").img-fluid  
                                            .list__txt
                                                p.text-white ¿Este hecho es real o es producto de la imaginación del escritor?
                                        .list.align-items-star.ml-4
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list3.svg").img-fluid  
                                            .list__txt
                                                p.text-white ¿Qué es la memoria histórica?
                                        .list.align-items-star.ml-4
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list3.svg").img-fluid  
                                            .list__txt
                                                p.text-white ¿Qué son las luchas por las conquistas laborales?
                                        p.ml-4.txt-deco4 Respecto al escritor:
                                        .list.align-items-star.ml-4
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list3.svg").img-fluid  
                                            .list__txt
                                                p.text-white Obras, premios, algunos aspectos de su vida.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.text-white Enunciar la idea principal del texto.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.text-white Identificar las ideas secundarias.
                                p.mt-5.text-white.mb-0 #[span.txt-deco3 Nota:] este ejercicio al igual que los siguientes no son evaluativos; sin embargo, se recomienda seguir las indicaciones dadas, lo cual le permitirá desarrollar mejores habilidades lectoras.
                .hr2
                #14
                .header-ecored.mt-6
                    h2 1.4. Estrategias para facilitar la comprensión lectora
                p.txt-deco1 Hay varias estrategias que facilitan la comprensión del texto, la reconstrucción del significado del mismo y que el lector(a), en este caso el aprendiz, puede poner en práctica; son estrategias muy simples o sencillas que deben llevarse a la práctica antes de la lectura, durante la lectura y después de la lectura. Las actividades ‘antes de la lectura’ y ‘durante la lectura’ buscan focalizar la atención, despertar el interés, activar los conocimientos previos, movilizar los procesos creativos y promover la predicción.
                .row.align-items-center.mt-6
                    .col-5.text-center
                        img(src="assets/images/pages/ilustraciones/img17.png", style="max-width: 80%;").img-fluid
                    .col-7.bg-color12
                        p.txt-deco1.py-5 #[b A partir del título se puede predecir el contenido del texto]. La actividad consiste en imaginar de qué trata un texto, el tema, los asuntos que va a desarrollar; como la lectura no es del gusto de todas las personas por los motivos que sean, es bueno despertar el interés hacia ella. #[b Otro ejercicio que se puede realizar es imaginar algunas palabras que posiblemente se van a encontrar y escribirlas]; también, escribir algunas ideas respecto al contenido del texto que se espera descubrir; si hay imágenes se puede hacer algo similar.
                .row.mt-6.justify-content-center
                    .col-10.bg-color8
                        .row
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img16.png", style="max-width: 80px; position: absolute; left: 5px; top: -25px; z-index: 2;").img-fluid
                            .col-10
                                p.mb-0 Ejercicio
                    .col-10.p-5.bg-color9
                        p.txt-deco1.mb-0 Se presentan tres títulos de algunos documentos. Piense en el posible contenido que desarrolla cada uno (predicción).
                    .col-10.p-5.bg-color10
                        p.text-white Título: #[span.txt-deco4 “Marte: un planeta rico en agua”.]
                        p.text-white Título: #[span.txt-deco4 “El turismo espacial”.]
                        p.text-white.mb-0 Título: #[span.txt-deco4 “Los nuevos videojuegos”.]
                .row.align-items-center.mt-6
                    .col-5.text-center
                        img(src="assets/images/pages/ilustraciones/img18.png", style="max-width: 80%;").img-fluid
                    .col-7.bg-color13
                        p.txt-deco1.py-5 Se puede suspender la lectura y predecir el final. Tratar de inventar su propia estrategia durante la lectura y ponerla en práctica.
                .row.align-items-center.mt-6
                    .col-5.text-center
                        img(src="assets/images/pages/ilustraciones/img19.png", style="max-width: 80%;").img-fluid
                    .col-7.bg-color14
                        p.txt-deco1.pt-5 Se ocupan de la reconstrucción del significado global del texto, así como del significado específico y la estructura organizativa del mismo.
                        p.txt-deco1.pb-5 #[b Las siguientes estrategias son eficaces para el desarrollo de la comprensión lectora:]
                .list.align-items-star.mt-6
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid.mt-3
                    .list__txt
                        p.mb-0.txt-deco3 #[b Identificación de ideas:]
                        p.txt-deco1 Es la primera estrategia que se realiza y la más común; buscar la idea principal y las secundarias.
                .list.align-items-star
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid.mt-3
                    .list__txt
                        p.mb-0.txt-deco3 #[b Recuento:]
                        p.txt-deco1 facilita la reconstrucción del significado del texto. Después de haber leído es necesario pensar o manifestar aquello que se comprendió; esta actividad permite que se expresen los resultados de la interacción con el texto; el recuento facilita que puedan surgir otras ideas, permite también la discusión sobre lo comprendido, pues se discute con el texto.
                .list.align-items-star
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid.mt-3
                    .list__txt
                        p.mb-0.txt-deco3 #[b Relectura:]
                        p.txt-deco1 cuando un aspecto no es claro se debe leer nuevamente para verificar los aspectos que generan dudas; releer es una buena estrategia, en general, para mejorar la comprensión de la lectura y de esta manera construir el significado de un texto. En el caso de un texto académico, este debe leerse varias veces para poder dar cuenta de su contenido. La relectura es la estrategia que permite superar la lectura física (desplazamiento de los ojos sobre el texto) y realizar una lectura conceptual (comprender).
                .list.align-items-star
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid.mt-3
                    .list__txt
                        p.mb-0.txt-deco3 #[b Parafraseo:]
                        p.txt-deco1 es otra actividad que puede ponerse en práctica; consiste en escribir, usando las propias palabras lo comprendido de un texto. El uso de las propias palabras facilita verificar la apropiación del significado del texto.
                .row.mt-6.justify-content-center
                    .col-10.bg-color8
                        .row
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img16.png", style="max-width: 80px; position: absolute; left: 5px; top: -25px; z-index: 2;").img-fluid
                            .col-10
                                p.mb-0 Ejercicio
                    .col-10.p-5.bg-color9
                        p.txt-deco1 Este ejercicio tiene como propósito poner en práctica los temas aprendidos; se sugieren varias actividades que se deben desarrollar como se propone, para afianzar las estrategias de lectura.
                    .col-10.p-5.bg-color10
                        p.text-white Antes de leer el cuento realizar las siguientes actividades. Para una mejor práctica, escribir en una hoja o un cuaderno.
                        .row.bg-color11.p-4
                            .col-12
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.text-white Pensar en 10 palabras que posiblemente aparecerán en el cuento; escribirlas.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.text-white Escribir una idea sobre del tema del cuento (predecir).
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.text-white Hacer la lectura en silencio. 
                                .imgTopBar.my-3
                                    .row.justify-content-around.align-items-center
                                        .col-8.mb-3.mb-md-0
                                            img(src="assets/images/pages/icons/icon_pdf.svg", alt="", style="max-width: 30px;")
                                            p.d-inline.mb-0.txt-deco16 "El diente roto" del escritor Pedro Emilio Coll.
                                        .col-auto.imgTopBarButton.shadow
                                            a(href="media/documentos/Anexo1.pdf", target="_blank").imgTopBar_link 
                                                .row 
                                                    .col-auto                   
                                                        p.d-inline(style="margin-right:10px") Ver PDF
                                .list.align-items-star.mt-4
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco4.mb-0 Durante la lectura
                                        p.text-white Pensar qué haría el lector en una situación similar.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco4.mb-0 Después de la lectura
                                        p.text-white Buscar el vocabulario desconocido (en un diccionario, en la RAE en línea).
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.text-white Inventar una historia parecida; escoger el personaje, ponerle nombre, caracterizarlo, etc.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.text-white Asignar un título.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.text-white.mb-0 Escoger algunas de las estrategias sugeridas: recuento, parafraseo, identificación de ideas, relectura.
                .row.mt-6.justify-content-center
                    .col-10.bg-color8
                        .row
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img16.png", style="max-width: 80px; position: absolute; left: 5px; top: -25px; z-index: 2;").img-fluid
                            .col-10
                                p.mb-0 Ejercicio
                    .col-10.p-5.bg-color9
                        p.txt-deco1 Se proponen tres actividades para reforzar las prácticas de prelectura, durante la lectura y poslectura. Se sugiere desarrollarlas siguiendo las indicaciones dadas; recordar que este es un ejercicio de apoyo o refuerzo.
                    .col-10.p-5.bg-color10
                        p.text-white Antes de leer el cuento realizar las siguientes actividades. Para una mejor práctica, escribir en una hoja o un cuaderno.
                        .row.bg-color11.p-4
                            .col-12
                                .imgTopBar.my-3
                                    .row.justify-content-around.align-items-center
                                        .col-8.mb-3.mb-md-0
                                            img(src="assets/images/pages/icons/icon_pdf.svg", alt="", style="max-width: 30px;")
                                            p.d-inline.mb-0.txt-deco16 "Prometeo" del escritor checoslovaco Franz Kafka.
                                        .col-auto.imgTopBarButton.shadow
                                            a(href="media/documentos/Anexo2.pdf", target="_blank").imgTopBar_link 
                                                .row 
                                                    .col-auto                   
                                                        p.d-inline(style="margin-right:10px") Ver PDF
                                .list.align-items-star.mt-5
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco4.mb-0 Actividades antes de la lectura:
                                        p.text-white Consultar quién era Prometeo: su historia, país de origen, época en la que vivió, y otros asuntos relacionados.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco4.mb-0 Actividades durante la lectura:
                                        p.text-white Prestar atención al vocabulario desconocido, hacer una lista del mismo y consultar los significados en el diccionario.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco4 Actividades para después de la lectura:
                                        p.text-white.mb-0 Identificar la idea principal del texto.
                                        p.text-white.mb-0 Presentar las ideas secundarias.
                                        p.text-white.mb-0 Reescribir el cuento usando sus propias palabras.