.container#factores

    .jumbotron.bg-white.shadow.mt-6
        .row.justify-content-center
            .col-10
                .header-ecored.mt-0
                    h1 2. Factores de la comprensión lectora
                .row.mb-7
                    .col-12.bg-color2.mb-4
                        p.txt-deco6 #[b Hay tres factores que intervienen y determinan la comprensión lectora:]
                        br
                        p.txt-deco7 #[b El lector(a), el texto y el contexto.]
                        .hr
                        img(src="assets/images/pages/ilustraciones/img20.png", style="max-width: 30%; position: absolute; bottom: -110px; right: 60px;").img-fluid
                .hr2
                #21
                .header-ecored.mt-6
                    h2 2.1. El lector / la lectora
                p.txt-deco1 El lector o lectora es la persona que lee o siente afición por la lectura, es quien comprende el mensaje y lo interpreta. Hay varias estrategias que son utilizadas por los lectores(as), muchas veces de forma espontánea y sin conciencia sobre su uso para llegar al significado de un texto.
                p.mt-5.txt-deco2 #[b Algunas estrategias son el muestreo, la predicción, la inferencia, el conocimiento previo, el desarrollo cognitivo del lector, la situación emocional y la competencia lingüística.]
                .row.justify-content-center.mt-5
                    .col-8
                        table.table.table-bordered.table-striped
                            thead
                                tr
                                    td(colspan='2').table1
                                        b Estrategias de lectura
                            tbody
                                tr
                                    td.table4.text-center
                                        p.mb-0 #[b Estrategia]
                                    td.table4.text-center
                                        p.mb-0 #[b Explicación]
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Muestreo]
                                    td.table3
                                        p.txt-deco1 Es la capacidad que tiene un lector para escoger las ideas o las palabras más significativas del texto.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Predicción]
                                    td.table2
                                        p.txt-deco1 Predecir significa adivinar, prever, suponer, pronosticar; es decir, el lector(a) tiene la capacidad de anticipar el contenido del texto; por ejemplo, el final de un cuento, de un relato o de una historia; la predicción permite al lector(a) formular hipótesis con relación al texto.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Inferencia]
                                    td.table3
                                        p.txt-deco1 Inferir significa deducir, concluir; la inferencia es una habilidad que se tiene para concluir sobre aspectos del texto que están ocultos.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Conocimiento previo]
                                    td.table2
                                        p.txt-deco1 La comprensión del texto puede estar determinada por el conocimiento previo que tiene el lector sobre el tema; a mayor conocimiento que se tenga del tema, mayor será la comprensión del mismo.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Desarrollo cognitivo]
                                    td.table3
                                        p.txt-deco1 Son procesos cerebrales a partir de los cuales el individuo adquiere el conocimiento a partir del aprendizaje y la experiencia; el desarrollo cognitivo, entre muchas de sus posibilidades de aplicación, permite resolver situaciones de dificultad que se presentan en la vida diaria, adquirir información, encontrar situaciones para dar solución a un problema.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Situación emocional]
                                    td.table2
                                        p.txt-deco1 La situación afectiva o emocional del lector afecta la comprensión del texto. La significación se construye desde la interacción entre la realidad interior del lector y la realidad exterior en la que se mueve el texto. Un mismo texto puede suscitar asociaciones e interpretaciones diferentes de acuerdo con la situación emocional de los lectores.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Competencia lingüística]
                                    td.table3
                                        p.txt-deco1 Se relaciona con el conocimiento que el lector tiene de su propia lengua (competencia lingüística), el uso que hace de ella (actuación lingüística); se relaciona con el conocimiento del vocabulario, de la sintaxis y la forma en que los emplea (competencia gramatical).
                        p.mt-4.txt-deco1.text-center Fuente: adaptación Ministerio de Educación Nacional - MEN (1998).
                .hr2
                #22
                .header-ecored.mt-6
                    h2 2.2 El texto
                p.txt-deco1 En ocasiones se afirma que un texto es una secuencia de oraciones. Es preciso recordar que la oración es una estructura sintáctica con significado completo y en un texto ese conjunto de oraciones mantiene relaciones entre sí.  Las oraciones que componen un texto no están simplemente ligadas de manera secuencial; al contrario, tejen una serie de relaciones entre ellas. Algunos textos tienen un carácter más formal, como los libros; sin embargo, los textos cotidianos, los del habla corriente están compuestos por frases elaboradas, oraciones, fragmentos de oraciones, modismos y otros asuntos de la lengua, que también pueden considerarse un texto.
                .row.mt-6.justify-content-center
                    .col-12.col-md-8.bg-color4
                        img(src="assets/images/pages/ilustraciones/img5.png", style="max-width: 10%; position: absolute; top: -25px; left: 70px;").img-fluid
                        p.txt-deco1 #[b #[i Para Frías (2008),  Un texto es:]]
                        p.txt-deco1.pt-5 #[i Conjunto de enunciados organizados coherentemente, que se producen en una determinada situación comunicativa y están revestidos de una significación (…) El texto puede ser una palabra, una oración, un conjunto de oraciones o una secuencia de párrafos que cumplen una función de interacción y comunicación (p. 33).]
                        img(src="assets/images/pages/ilustraciones/img21.png", style="max-width: 31%; position: absolute; right: 70px; bottom: -55px;").img-fluid
                .row.mt-6
                    .col-8
                        p.txt-deco3 #[b Siguiendo a la autora (p. 36) un texto se caracteriza por ser:]
                .row.mt-6.justify-content-around
                    .col-5
                        img(src="assets/images/pages/ilustraciones/img22.png", style="max-width: 15%;").img-fluid
                        p.txt-deco1.mt-4 #[b Comunicativo:]
                        p.txt-deco1 Es un producto lingüístico que comunica ideas, sentimientos y significados.
                    .col-5
                        img(src="assets/images/pages/ilustraciones/img23.png", style="max-width: 15%;").img-fluid
                        p.txt-deco1.mt-4 #[b Interactivo:]
                        p.txt-deco1 Se produce en un contexto social para conseguir su efecto.
                    .col-5.mt-5
                        img(src="assets/images/pages/ilustraciones/img24.png", style="max-width: 15%;").img-fluid
                        p.txt-deco1.mt-4 #[b Posee una estructura:]
                        p.txt-deco1 En cuanto articula forma y contenido de manera organizada y lógica; hace uso de las relaciones morfosintácticas y de los criterios semánticos de la lengua.
                    .col-5.mt-5
                        img(src="assets/images/pages/ilustraciones/img25.png", style="max-width: 15%;").img-fluid
                        p.txt-deco1.mt-4 #[b Cumple una función:]
                        p.txt-deco1 Partir de la intención comunicativa o propósito con el cual se produce.
                .row.mt-6
                    .col-8
                        p.txt-deco3 #[b Un texto está conformado básicamente por dos elementos:]
                .row.mt-6.justify-content-around
                    .col-5
                        img(src="assets/images/pages/ilustraciones/img26.png", style="max-width: 45%;").img-fluid
                        p.txt-deco1.mt-4 #[b El léxico:]
                        p.txt-deco1 Es el vocabulario con el cual se construyó el texto, es todo el conjunto de palabras de un idioma. Cuando en la lectura se aborda el estudio del léxico, un ejercicio interesante es el de la sinonimia; consiste en reemplazar un término por otro con significado similar, para enriquecer el vocabulario y evitar la repetición de la misma palabra.
                    .col-5
                        img(src="assets/images/pages/ilustraciones/img27.png", style="max-width: 30%;").img-fluid
                        p.txt-deco1.mt-4 #[b El contenido de la lectura:]
                        p.txt-deco1 Tradicionalmente el contenido se aborda a partir de la identificación de la idea principal del texto y de las ideas secundarias que le dan soporte. Esta afirmación no quiere decir que esta forma de analizar el texto no sea válida; más aún, continúa vigente y es necesaria para llegar al significado.
                .row.mt-6
                    .col-8
                        p.txt-deco3 #[b Idea principal:]
                p.mt-4.txt-deco1 Para identificar la idea principal se puede proceder como cuando se hace el análisis sintáctico de una oración, es el sujeto de la oración; sobre ese sujeto se hace afirmaciones, hay verbos conjugados que expresan el sentido, hay explicaciones, ejemplos, que al igual que los complementos de la oración, aclaran o amplían la idea principal.
                .row.mt-6
                    .col-12.p-4.bg-color9
                        p.txt-deco1 Ejemplo: Se tiene la oración:
                        p.mt-4.txt-deco3 #[b “En la escala animal, los protozoarios ocupan el primer lugar en la evolución”.]
                .row.p-4.bg-color10
                    .col-3
                        p.txt-deco8.mb-0 En la escala animal,
                        p.txt-deco4 Complemento circunstancial
                    .col-3
                        p.txt-deco8.mb-0 los protozoarios
                        p.txt-deco4 Sujeto
                    .col-2
                        p.txt-deco8.mb-0 ocupan
                        p.txt-deco4 Verbo
                    .col-4
                        p.txt-deco8.mb-0 el primer lugar en la evolución
                        p.txt-deco4 Complemento directo
                .row.p-4
                    .col-12
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 #[b Idea principal:] los protozoarios (sujeto de la oración).
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 #[b Verbo conjugado:] ocupan.
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 #[b Idea secundaria 1:] el primer lugar en la evolución (complemento directo).
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 #[b Idea secundaria 2:] en la escala animal (complemento circunstancial).
                table.table.table-bordered.table-striped.mt-4
                    thead
                        tr
                            td(colspan='4').table1
                                b Tipos de textos
                    tbody
                        tr
                            td.table4
                                p.txt-deco1.mb-0 #[b Clasificación]
                            td.table4
                                p.txt-deco1.mb-0 #[b Concepto]
                            td(colspan='2').table4
                                p.txt-deco1.mb-0 #[b Textos]
                        tr
                            td.table3
                                p.txt-deco1 #[b Informativos]
                            td.table3
                                p.txt-deco1 Buscan facilitar la comprensión de un hecho o de una situación; transmiten una información.
                            td.table3
                                p.txt-deco1 Noticia, artículo periodístico, afiche o cartel, circular.
                            td.table3.text-center
                                img(src="assets/images/pages/ilustraciones/img28.png", style="max-width: 100%;").img-fluid
                        tr
                            td.table2
                                p.txt-deco1 #[b Narrativos]
                            td.table2
                                p.txt-deco1 Refieren acontecimientos ocurridos en un determinado período. Cuentan o relatan hechos.
                            td.table2
                                p.txt-deco1 Cuento, novela, mito, fábula, obras de teatro, historieta, relato.
                            td.table2.text-center
                                img(src="assets/images/pages/ilustraciones/img29.png", style="max-width: 100%;").img-fluid
                        tr
                            td.table3
                                p.txt-deco1 #[b Argumentativos]
                            td.table3
                                p.txt-deco1 Tienen como fin persuadir al lector; son textos que presentan justificaciones o razones para convencer. Expresan una toma de posición.
                            td.table3
                                p.txt-deco1 Ensayo, artículo de opinión, reseña, editorial de periódico o revista.
                            td.table3.text-center
                                img(src="assets/images/pages/ilustraciones/img30.png", style="max-width: 100%;").img-fluid
                        tr
                            td.table2
                                p.txt-deco1 #[b Explicativos]
                            td.table2
                                p.txt-deco1 Tienen la función de aclarar, hacer comprender, hacer saber, explicar. No buscan convencer ni influir en el lector, sino cambiar su conocimiento.
                            td.table2
                                p.txt-deco1 Reseña, receta, instrucciones.
                            td.table2.text-center
                                img(src="assets/images/pages/ilustraciones/img31.png", style="max-width: 100%;").img-fluid
                p.mt-4.txt-deco1 Un texto bien organizado es un conjunto de enunciados que debe responder principalmente a las propiedades de cohesión y coherencia.
                .row.justify-content-center
                    .col-11
                        .header-ecored.mt-6
                            h2 2.2.1 La cohesión
                        .row.mt-6
                            .col-8
                                p.txt-deco3 #[b La cohesión es una característica de los textos bien estructurados;]
                        p.txt-deco1 consiste en un conjunto de oraciones que se conectan a partir de varios procedimientos lingüísticos los cuales permiten que cada una de las oraciones se pueda interpretar en relación con las otras. En la cohesión participan aspectos lexicales y gramaticales; la cohesión corresponde a la estructura gramatical del texto.
                        .row.mt-6.align-items-center
                            .col-8.bg-color15
                                p Mecanismos de cohesión:
                                p Entre ellos figuran los signos de puntuación y los elementos lingüísticos cohesivos.
                            .col-4
                                img(src="assets/images/pages/ilustraciones/img32.png", style="max-width: 100%; position: relative; left: -63px;").img-fluid
                        .row.mt-6
                            .col-8
                                p.txt-deco3 #[b Los signos de puntuación]
                        table.table.table-bordered.table-striped.mt-4
                            tbody
                                tr
                                    td.table1
                                        p.text-white.mb-0 #[b Signos]
                                    td.table1
                                        p.text-white.mb-0 #[b Usos]
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Coma (,)]
                                    td.table3
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Es un signo de puntuación que expresa una pausa breve en la lectura.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para separar oraciones cortas, elementos análogos, elementos explicativos.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para intercalar expresiones como: por ejemplo, sin embargo, en fin.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Punto y coma (;)]
                                    td.table2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Indica una pausa mayor que la coma.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Se usa antes de las conjunciones: pero, mas, aunque, sin embargo.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para separar las proposiciones de una oración compuesta.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 En oraciones largas que tienen elementos separados por comas.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Punto (.)]
                                    td.table3
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 El final de un párrafo, una oración, un escrito está indicado por el punto.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Se usa al final de cada oración y se pasa a otra oración que tiene relación con la anterior.
                                        p.ml-4.txt-deco1 #[b Punto aparte: cuando se termina un párrafo y empieza otro.]
                                        p.ml-4.txt-deco1 #[b Punto seguido: se usa cuando las oraciones continúan dentro del mismo párrafo.]
                                        p.ml-4.txt-deco1 #[b Punto final: al terminar un escrito.]
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Dos puntos (:)]
                                    td.table2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para separar dos oraciones en las cuales la segunda es consecuencia de la primera.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Al citar palabras textuales.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Cuando se enuncia algo y a continuación se amplía o explica.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 En el encabezamiento de cartas, notas, etc.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Puntos suspensivos (…)]
                                    td.table3
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para detener la lectura y sorprender al lector.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Signos de interrogación (¿?)]
                                    td.table2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Cuando se expresan preguntas, al principio y al final de cada oración.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Signos de admiración (¡ !)]
                                    td.table3
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Se usan en oraciones exclamativas (que denotan sorpresa) al principio y al final.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Comillas (“ ”)]
                                    td.table2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Se coloca entre comillas una frase reproducida textualmente
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Cuando se hace una cita textual.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Paréntesis (  )]
                                    td.table3
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Se usa para comentarios.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para encerrar explicaciones que ayudan a la comprensión.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Corchetes [ ]]
                                    td.table2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para enmarcar una palabra o grupo de palabras que están entre paréntesis.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para adicionar una palabra o letra que no aparece en el texto original.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para encerrar puntos suspensivos que indican que falta una parte del texto.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para aclarar o mejorar la comprensión de un texto.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Guion ( - )]
                                    td.table3
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Es una raya horizontal (-) más corta que la raya (–); se usa para separar y unir palabras.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para cortar una palabra al final de la línea.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para separar fechas entre las cuales sucedió un hecho.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Raya (– )]
                                    td.table2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Se usa en los diálogos cuando comienza la intervención de los interlocutores.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Para intercalar comentarios o pequeñas aclaraciones.
                        .row.mt-6
                            .col-8
                                p.txt-deco3 #[b Los elementos lingüísticos cohesivos]
                        p.txt-deco1 Son preposiciones, pronombres, adjetivos posesivos, artículos definidos y adverbios, conjunciones y elementos copulativos.
                        p.mt-6.txt-deco2 #[b Marcadores o conectores lingüísticos]
                        p.txt-deco1 Los marcadores, también llamados conectores lingüísticos, proveen cohesión y estructura para la interpretación de un texto. Son necesarios para enlazar un elemento textual con el siguiente elemento, estableciendo una relación semántica.
                        p.txt-deco1 Los conectores tienen como función enlazar o conectar palabras, frases y oraciones dentro de un mismo párrafo. Como se mencionó previamente, establecen relaciones semánticas entre los párrafos de un texto. Se clasifican según la función que desempeñan.
                        p.mt-6.txt-deco2 #[b Ejemplo:]
                        .row.justify-content-center
                            .col-11
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Las dos hermanas compran frutas #[b y] verduras; #[b además], flores frescas para adornar la sala (relación de adición; se agrega información).
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Viajaremos pronto, #[b a pesar de] las prohibiciones para salir del país (relación de contraste; indica oposición).
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Primero irán a clase; luego, pasarán a la biblioteca a recoger los libros (relación de orden).
                        table.table.table-bordered.table-striped.mt-4
                            tbody
                                tr
                                    td.table4
                                        p.txt-deco1.mb-0 #[b Conector]
                                    td.table4
                                        p.txt-deco1.mb-0 #[b Tipo de relación]
                                    td(colspan='2').table4
                                        p.txt-deco1.mb-0 #[b Ejemplos]
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Adición]
                                    td.table3
                                        p.txt-deco1 Añaden o agregan información.
                                    td.table3
                                        p.txt-deco1 Y, además, también, más, aun, hora bien, por otra parte, asimismo, de igual manera, igualmente, en esa misma línea.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Contraste]
                                    td.table2
                                        p.txt-deco1 Indican oposición.
                                    td.table2
                                        p.txt-deco1 Pero, o, a pesar de, inversamente, sin embargo, no obstante, aunque, por el contrario, aun cuando, de otra manera, por otro lado, en contraste con, antes bien, en cambio, por otra parte, empero.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Causa efecto]
                                    td.table3
                                        p.txt-deco1 Introducen la relación de causa efecto.
                                    td.table3
                                        p.txt-deco1 Porque, por consiguiente, por eso, por esta razón, de ahí que, por tanto, por lo tanto, de modo que, se infiere, en consecuencia, de esto que sigue, pues, por este motivo, según, entonces, en consecuencia, en conclusión, por ende, ya que, luego.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Tiempo]
                                    td.table2
                                        p.txt-deco1 Se usan para expresar temporalidad.
                                    td.table2
                                        p.txt-deco1 Antes, ahora, después, seguidamente, en adelante, entre tanto, mientras, entonces, posteriormente, a menudo, simultáneamente, cuando, a medida que, enseguida.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Ejemplificación]
                                    td.table3
                                        p.txt-deco1 Se usan para ilustrar una idea o introducir un ejemplo.
                                    td.table3
                                        p.txt-deco1 Por ejemplo, en otras palabras, es decir, verbigracia, vale decir, dicho de otra manera, con otros términos, tal como, como caso típico, sirva de ilustración, como muestra, lo que es lo mismo, así, como, en representación de, en el caso de.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Semejanza]
                                    td.table2
                                        p.txt-deco1 Establecen relaciones de semejanza.
                                    td.table2
                                        p.txt-deco1 Del mismo modo, igualmente, de igual modo, de la misma manera, así mismo, como, así que, de igual manera, de igual forma, tanto como.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Énfasis]
                                    td.table3
                                        p.txt-deco1 Se usan para acentuar lo enunciado.
                                    td.table3
                                        p.txt-deco1 Lo que más, repetimos, sobre todo, ciertamente, en otras palabras, es decir, lo que es peor, como si fuera poco.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Conclusión]
                                    td.table2
                                        p.txt-deco1 Señalan cierre o terminación.
                                    td.table2
                                        p.txt-deco1 Finalmente, para terminar, para concluir, por último, en conclusión, para resumir, en suma.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Espacialidad]
                                    td.table3
                                        p.txt-deco1 Indican relaciones espaciales.
                                    td.table3
                                        p.txt-deco1 Al lado, arriba, abajo, a la derecha, a la izquierda, en el medio, en el fondo.
                                tr
                                    td.table2
                                        p.txt-deco1 #[b Condición]
                                    td.table2
                                        p.txt-deco1 Expresan una condición necesaria para que ocurra algo.
                                    td.table2
                                        p.txt-deco1 Si, supongamos, puesto que, siempre que, con tal que, a menos que, salvo que, a condición de que.
                                tr
                                    td.table3
                                        p.txt-deco1 #[b Orden]
                                    td.table3
                                        p.txt-deco1 Indican enumeración.
                                    td.table3
                                        p.txt-deco1 Primeramente, a continuación, siguiente, luego, finalmente, al principio, al inicio, por último, primero, segundo, tercero.
                        .header-ecored.mt-6
                            h2 2.2.2 La coherencia
                        .row.mt-6
                            .col-8
                                p.txt-deco3 #[b La coherencia es la relación de elementos en un texto y su organización interna;]
                        p.txt-deco1 es una propiedad de los textos bien estructurados, mediante la cual las ideas secundarias aportan información relevante para llegar a la idea principal o tema, de esta forma el lector puede encontrar el significado global del texto. Para que un texto sea coherente los enunciados deben centrarse en un tema y responder al conocimiento del contexto que tiene el lector; los enunciados deben referirse a la misma realidad.
                        .row.mt-5.justify-content-around
                            .col-5.bg-color6
                                p.txt-deco1 #[b Coherencia global:]
                                p.txt-deco1 Se alcanza en la medida en que un texto tenga un tema central y la idea principal y las secundarias estén relacionadas con ese tema.
                            .col-5.bg-color6
                                p.txt-deco1 #[b Coherencia local:]
                                p.txt-deco1 las ideas deben estar organizadas de manera ordenada y lógica, debe existir una secuencia interna para seguir el texto y lograr la comprensión de la información.
                        .row.mt-5.justify-content-center
                            .col-10.bg-color5
                                p.txt-deco1 #[b Mecanismos de coherencia:]
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Repetición:] El texto parte de información conocida y aborda temas similares.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Progresión:] El texto debe aportar información nueva.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b No contradicción:] El texto no debe presentar contradicciones.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Relación:] La información debe estar relacionada con el tema tratado y debe ser relevante.
                .hr2
                #23
                .header-ecored.mt-6
                    h2 2.3 El contexto
                p.txt-deco1 El contexto es el tercer nivel de la comprensión lectora y se relaciona con los niveles: textual, extratextual y psicológico.
                .row.mt-6
                    .col-8
                        p.txt-deco3 #[b De acuerdo con la RAE, el vocablo contexto proviene del latín contextus y significa:]
                p.mt-5.txt-deco1.mb-0 #[b 1. m.] Entorno lingüístico del que depende el sentido de una palabra, frase o fragmento determinado.
                p.txt-deco1 #[b 2. m.] Entorno físico o situación política, histórica, cultural de cualquier otra índole en el que se considera un hecho.
                .row.mt-6.justify-content-center
                    .col-8
                        p.txt-deco1 #[b Se denomina contexto:]
                .row.mt-5.justify-content-center
                    .col-12.col-md-8.bg-color4
                        img(src="assets/images/pages/ilustraciones/img5.png", style="max-width: 10%; position: absolute; top: -25px; left: 70px;").img-fluid
                        p.txt-deco1.pt-5 #[i Al conjunto de conocimientos y creencias compartidos por los interlocutores, algunos previos al texto, otros surgidos a medida que se produce la interpretación”]
                        p.txt-deco1 #[b #[i (Walter & Torelli, s.f., p.4).]]
                        img(src="assets/images/pages/ilustraciones/img33.png", style="max-width: 14%; position: absolute; right: 100px; bottom: -100px;").img-fluid
                .row.mt-7.pt-5.align-items-center.justify-content-center
                    .col-3
                        img(src="assets/images/pages/ilustraciones/img34.png", style="max-width: 80%;").img-fluid
                    .col-4
                        p.txt-deco1.mb-0 #[b Nivel textual (contexto discursivo):]
                        p.txt-deco1.mb-0 Entorno lingüístico que tiene que ver con las ideas que se hacen presentes antes y después de un enunciado; es el conjunto de relaciones que establece un enunciado con todos los otros enunciados que lo rodean.
                .row.mt-5.align-items-center.justify-content-center
                    .col-3
                        img(src="assets/images/pages/ilustraciones/img35.png", style="max-width: 80%;").img-fluid
                    .col-4
                        p.txt-deco1.mb-0 #[b Nivel extratextual (contexto situacional):]
                        p.txt-deco1.mb-0 Hace referencia al clima, al espacio físico y cultural donde se lleva a cabo la lectura, entre otros aspectos que influyen en la comprensión del texto (marco espacio temporal y los rituales relacionados).
                .row.mt-5.align-items-center.justify-content-center
                    .col-3
                        img(src="assets/images/pages/ilustraciones/img36.png", style="max-width: 80%;").img-fluid
                    .col-4
                        p.txt-deco1.mb-0 #[b Nivel psicológico:]
                        p.txt-deco1.mb-0 Se relaciona con el estado de ánimo o el estado afectivo del lector en el momento de la lectura.
                .row.mt-6
                    .col-8
                        p.txt-deco3 #[b Procesos básicos de comprensión de un texto:]
                .list.align-items-star.mt-4
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                    .list__txt
                        p.txt-deco1.mb-0 #[b Dominio lingüístico:]
                        p.txt-deco1 Consiste en el dominio que tiene un lector de las estructuras gramaticales y semánticas de la lengua, necesarias para la comprensión de un texto cualquiera.
                .list.align-items-star
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                    .list__txt
                        p.txt-deco1.mb-0 #[b Dominio textual:]
                        p.txt-deco1 Se relaciona con el estudio de los textos; este dominio se logra a través del ejercicio que implica la búsqueda de la idea principal del texto o de la obra en su totalidad, lo que facilitará la comprensión del mismo, así como de cada parte que lo compone (los párrafos y los capítulos, por ejemplo) y de la identificación de las ideas secundarias.
                .list.align-items-star
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                    .list__txt
                        p.txt-deco1.mb-0 #[b Dominio referencial:]
                        p.txt-deco1 El hecho principal y los hechos secundarios de un texto se ubican en una realidad determinada, bien sea natural, social, política, económica, religiosa, étnica, artística, e histórica.
                .list.align-items-star
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                    .list__txt
                        p.txt-deco1.mb-0 #[b Dominio relacional:]
                        p.txt-deco1 Es la capacidad del lector para identificar la posición del escritor respecto al texto mismo. Esto quiere decir que reconoce algunas posturas del escritor que aparecen en el texto, por ejemplo, su mirada política, profesional, entre otras.
                .list.align-items-star
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                    .list__txt
                        p.txt-deco1.mb-0 #[b La ubicación:]
                        p.txt-deco1 Le permite al lector identificar las condiciones de producción del texto, por ejemplo, las estrategias ideológicas para ocultar la identidad ideológica del escritor, su estatus sociocultural, el medio en el que se desarrollan sus actividades, las propias vivencias y ajenas, entre otros aspectos.