.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Cohesión:
            | la cohesión textual, también conocida como cohesión léxica, es la unión entre palabras, párrafos, y oraciones, a través del uso de conectores, pronombres, sinónimos, antónimos, etc. con la finalidad de mantener una idea coherente para el lector (Significados, s.f.).
        p
            strong.mr-2 Grafía:
            | modo de escribir o representar los sonidos, y, en especial, empleo de tal letra o tal signo gráfico para representar un sonido dado.
        p 
            strong.mr-2 Inferencia:
            | inferir significa deducir, concluir; la inferencia es una habilidad que se tiene para concluir sobre aspectos del texto que están ocultos.