.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Gómez, P. J. (2011). Comprensión lectora y rendimiento escolar.
                    td Pdf
                    td 
                        a(href="https://www.redalyc.org/pdf/4498/449845038003.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ministerio de Educación Nacional - MEN. (1998). Serie lineamientos curriculares. Lengua Castellana.
                    td Pdf
                    td 
                        a(href="https://www.mineducacion.gov.co/1621/articles-339975_recurso_6.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Walter, E., Torelli, M. (s.f.). Ficha de estudio. Texto y contexto.
                    td Pdf
                    td 
                        a(href="https://studylib.es/doc/499337/texto-y-contexto", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar