include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Coll, P. (2006). El diente roto. En biblioteca virtual universal.", "https://www.biblioteca.org.ar/libros/130642.pdf")

        +referenciaItem("Coll, P. (2006). Prometeo. En biblioteca virtual universal.", "https://www.biblioteca.org.ar/libros/130041.pdf")

        +referenciaItem("Frías, M. (2008). Procesos creativos para la construcción de textos. Interpretación y composición. Bogotá: Cooperativa Editorial Magisterio.", "https://books.google.com.mx/books?id=7XeDJFEWU4YC&printsec=frontcover#v=onepage&q&f=false")

        +referenciaItem("García, G. (1991). Análisis de Crónica de una muerte anunciada. Bogotá: Editorial Voluntad, p6-7.", "")

        +referenciaItem("Gómez, P. J. (2011). Comprensión lectora y rendimiento escolar: una ruta para mejorar la comunicación.", "https://www.redalyc.org/pdf/4498/449845038003.pdf")

        +referenciaItem("Kafka, F. (2016). Prometeo. En biblioteca virtual universal.", "https://www.biblioteca.org.ar/libros/130041.pdf")

        +referenciaItem("Miguel, E. (2016). 29 viñetas de Mafalda. [Figura].", "https://magnet.xataka.com/why-so-serious/29-vinetas-de-mafalda-que-definen-perfectamente-el-panorama-sociopolitico-de-2016")

        +referenciaItem("Ministerio de Educación Nacional - MEN. (1998). Serie lineamientos curriculares. Lengua Castellana.", "https://www.mineducacion.gov.co/1621/articles-339975_recurso_6.pdf")

        +referenciaItem("Real Académica Española. (2020). Contexto. En el diccionario de la lengua española.", "https://dle.rae.es/contexto?m=form")

        +referenciaItem("Significados (s.f.). Cohesión. En Significados.com.", "https://www.significados.com/cohesion")

        +referenciaItem("Walter, E., Torelli, M. (s.f.). Ficha de estudio. Texto y contexto.", "https://studylib.es/doc/499337/texto-y-contexto")
        
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            